<div class="navbar">
  <div class="navbar_bg">
    <div class="flex justify-between">
      <div class="navbar_iconBg">
        <img
          class="navbar_icon"
          src="./../../../../assets/Picture1.png"
          alt=""
        />
      </div>

      <div class="navbar_rightSeg flex">
        <div>
          <nz-badge [nzCount]="0" nzShowZero>
            <span
              nz-icon
              nzType="bell"
              nzTheme="fill"
              class="navbar_ico"
            ></span>
          </nz-badge>
        </div>
        <div>
          <nz-avatar nzText="UX"></nz-avatar>
        </div>
      </div>
    </div>
  </div>
</div>
