<div class="navbar">
  <div class="navbar_bg">
    <div class="flex justify-between">
      <div class="navbar_iconBg" (click)="navigateToHome()">
        <img
          class="navbar_icon"
          src="./../../../../assets/Picture1.png"
          alt=""
        />
      </div>

      <div class="navbar_rightSeg flex">
        <div>
          <nz-badge [nzCount]="0" nzShowZero>
            <span
              nz-icon
              nzType="bell"
              nzTheme="fill"
              class="navbar_ico"
            ></span>
          </nz-badge>
        </div>
        <div>
          <nz-avatar [nzText]="getAvatarVal()" nz-popover nzPopoverTrigger="click" [nzPopoverContent]="userMenuContent" nzPopoverPlacement="leftTop"></nz-avatar>
          <ng-template #userMenuContent class="navbar_popup">
            <div class="text-center m-3">
               <nz-avatar [nzText]="getAvatarVal()" style="color: #ffffff; background-color: #0a818c !important;"></nz-avatar>
               <div class="text-center">
                  <div style="font-weight: 500;" class="mt-2">{{ user.firstName }} {{ user.lastName }}</div>
                  <div>{{ user.email }}</div>
                  <a nz-button class="btn btn-red Single-button mt-2" nzShape="round" nzType="primary" (click)="onLogout()" title="Logout">
                     <em nz-icon nzType="logout" nzTheme="outline"></em> Logout
                  </a>
               </div>
            </div>
         </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
