<div>
  <div class="flex justify-between">
    <div class="flex">
      <span
        nz-icon
        nzType="arrow-left"
        nzTheme="outline"
        class="text-2xl mt-1.5 mr-2"
        (click)="goBack()"
      ></span>
      <p class="text-2xl">Production Floor</p>
    </div>
    <div class="flex mt-1.5">
      <button type="button" nz-button (click)="isVisibleModal = true">
        Add Floor
      </button>
    </div>
  </div>

  <div style="overflow-x: hidden">
    <nz-table #productionFloorTable [nzData]="productionFloor">
      <thead>
        <tr>
          <th>#</th>
          <th nzCustomFilter>Name</th>
          <th nzCustomFilter>Working Hours</th>
          <th nzCustomFilter>Style</th>
          <th nzCustomFilter>Flow Workers</th>
          <th nzCustomFilter>SMV</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of productionFloorTable.data; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ data.name }}</td>
          <td>{{ data.workingHours }}</td>
          <td>{{ data.style }}</td>
          <td>{{ data.flowWorkers }}</td>
          <td>{{ data.smv }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>

<nz-modal
  [(nzVisible)]="isVisibleModal"
  nzTitle="Create Flow"
  (nzOnCancel)="handleClose()"
>
  <div *nzModalContent>
    <form nz-form [formGroup]="ieForm" [nzLayout]="'vertical'">
      <nz-form-item>
        <div nz-row>
          <div nz-col>
            <nz-form-label nzRequired>Name</nz-form-label>
          </div>
        </div>
        <div nz-row>
          <div nz-col [nzSpan]="24">
            <nz-form-control nzErrorTip="Required">
              <input nz-input formControlName="name" placeholder="" />
            </nz-form-control>
          </div>
        </div>
      </nz-form-item>
      <nz-form-item>
        <div nz-row>
          <div nz-col>
            <nz-form-label nzRequired>Working Hours</nz-form-label>
          </div>
        </div>
        <div nz-row>
          <div nz-col [nzSpan]="24">
            <nz-form-control nzErrorTip="Required">
              <nz-input-number
                style="width: 100%"
                formControlName="workingHours"
                [nzMin]="0"
                [nzStep]="0.25"
              ></nz-input-number>
            </nz-form-control>
          </div>
        </div>
      </nz-form-item>
      <nz-form-item>
        <div nz-row>
          <div nz-col>
            <nz-form-label nzRequired>Style</nz-form-label>
          </div>
        </div>
        <div nz-row>
          <div nz-col [nzSpan]="24">
            <nz-form-control nzErrorTip="Required">
              <nz-select
                nzShowSearch
                nzAllowClear
                formControlName="styleId"
                nzPlaceHolder=""
              >
                <nz-option
                  *ngFor="let sty of styles"
                  [nzLabel]="sty.code"
                  [nzValue]="sty.id"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </div>
        </div>
      </nz-form-item>
    </form>
    <div nz-row>
      <div nz-col>
        <nz-form-label nzRequired>Workers</nz-form-label>
      </div>
    </div>
    <nz-select
      [nzMaxTagCount]="100"
      [nzMaxTagPlaceholder]="tagPlaceHolder"
      nzMode="multiple"
      nzPlaceHolder="Please select"
      [(ngModel)]="selectedEmployees"
      style="width: 100%"
    >
      <nz-option
        *ngFor="let item of employees"
        [nzLabel]="item.name"
        [nzValue]="item.id"
      ></nz-option>
    </nz-select>
    <ng-template #tagPlaceHolder let-selectedList
      >and {{ selectedList.length }} more selected</ng-template
    >
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleClose()">Close</button>
    <button
      nz-button
      nzType="primary"
      (click)="submitEmployee()"
      [nzLoading]="isLoading"
      [disabled]="isLoading"
    >
      Submit
    </button>
  </div>
</nz-modal>
