<div>
  <div class="flex justify-between">
    <div class="flex">
      <span
        nz-icon
        nzType="arrow-left"
        nzTheme="outline"
        class="text-2xl mt-1.5 mr-2"
        (click)="goBack()"
      ></span>
      <p class="text-2xl">Generate Plans</p>
    </div>
    <div class="flex mt-1.5">
      <!-- <button type="button" nz-button (click)="isVisibleModal = true">
          Add Plan Structure
        </button> -->
    </div>
  </div>

  <div class="cont">
    <nz-upload
      nzType="drag"
      [nzMultiple]="false"
      [(nzFileList)]="fileLists"
      [nzBeforeUpload]="beforeUpload"
      [nzAccept]="acceptedList"
    >
      <p class="ant-upload-drag-icon">
        <span nz-icon nzType="inbox"></span>
      </p>
      <p class="ant-upload-text">
        Click or drag file to this area to select files to upload.
      </p>
      <p class="ant-upload-hint">Support for a single upload.</p>
    </nz-upload>
    <nz-select
      [nzMaxTagCount]="100"
      [nzMaxTagPlaceholder]="tagPlaceHolder"
      nzMode="multiple"
      nzPlaceHolder="Please select"
      [(ngModel)]="planStructs"
      style="width: 100%"
    >
      <nz-option
        *ngFor="let item of plannings"
        [nzLabel]="item.name"
        [nzValue]="item.id"
      ></nz-option>
    </nz-select>
    <ng-template #tagPlaceHolder let-selectedList
      >and {{ selectedList.length }} more selected</ng-template
    >

    <div class="flex justify-end my-4" style="width: 100%">
        <button nz-button nzType="primary" [nzLoading]="isLoading" [disabled]="isLoading" (click)="uploadToGen()">Upload and Generate</button>
    </div>
  </div>
</div>
