.dashboard_tile {
    background-image: url('./../../../../assets/X-1x2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20vh;
    border-radius: 1rem;
    margin: 0rem 0rem 0.5rem 0.5rem;
}

.tile_text {
    padding: 1rem 1.25rem;
    width: 45%;
    font-size: 28px;
    color: #fff;
    font-weight: 700;
    position: absolute;
}

.tile_img {
    height: 10rem;
    width: auto;
    position: absolute;
    right: 0.75rem;
    bottom: 0.75rem;
}